<% include partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
      <h1>Hi, this is my page</h1>
      <p> Login for contracts list, if you are not a registerd user, you need to register first</p>
      </div>
    </div>
<% include partials/footer.ejs %>
